[gerrit]
        basePath = git
        canonicalWebUrl = http://localhost:8080/
[auth]
        type = OPENID
[sendemail]
        smtpServer = localhost
[container]
        user = gerrit
        javaHome = /usr/lib/jvm/java-6-openjdk-amd64/jre
[sshd]
        listenAddress = *:29418
[httpd]
        listenUrl = proxy-http://*:8080/
[cache]
        directory = cache
;; The database section will be added by start.sh script.
